* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

header ul li {
  display: inline-block;
}
