* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
    "header header header"
    ". main .";
  grid-template-rows: 20% 1fr;
  grid-template-columns: 18% auto 18%;
  font-family: "Open Sans", Georgia, "Times New Roman", Times, serif;
  background-color: rgb(240, 240, 240);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-area: header;
  background-color: rgba(188, 224, 196, 0.952);
  color: white;
  font-style: italic;
  font-size: 2rem;
  line-height: 1.5rem;
}

header h1 {
  font-family: "Tangerine";
  margin-bottom: 10px;
}

header hr {
  color: white;
}

header h5 {
  font-size: 1.2rem;
  font-weight: 400;
}

.overlay {
  position: fixed;
  display: none;
  width: 50%;
  height: 50%;
  top: 25%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}
#gifPopup {
  text-align: center;
  /* display: block; */
}
#gifs {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.gif-img {
  height: 100px;
  display: inline;
  margin: 0 10px;
}

main {
  /* border-left: 2px rgba(188, 224, 196, 0.952) solid;
  border-right: 2px rgba(188, 224, 196, 0.952) solid; */
  grid-area: main;
  background-color: rgb(255, 255, 255);
}

section {
  width: 70%;
  margin: 3rem auto 0;
}

form {
  width: 100%;
  height: 140px;
  border: 16px solid rgb(240, 240, 240);
  border-radius: 12px 12px 0 0;
}

form textarea {
  width: 100%;
  height: 100%;
  border: none;
  text-align: left;
  resize: none;
  font-size: 0.8rem;
  line-height: 1.7rem;
  padding: 0.6rem;
}

textarea:hover {
  background-color: rgb(236, 252, 236);
}

textarea:focus {
  background-color: rgb(236, 252, 236);
}

#charCounterPost,
#charCounterComment {
  height: 1rem;
  color: rgb(69, 73, 95);
  font-size: 0.8rem;
  text-align: right;
  margin-right: 1rem;
  font-style: italic;
}

.add-button {
  height: 60px;
  background-color: rgb(240, 204, 210);
  border-radius: 0 0 12px 12px;

  border: none;
  width: 100%;
  font-size: 1rem;
  color: white;
}
.add-button:hover {
  background-color: rgb(231, 183, 191);
}
#addGif {
  height: 25px;
  background-color: rgb(204, 235, 240);

  margin-top: 0.2rem;

  border: none;
  width: 100%;
  font-size: 1rem;
  color: white;
}
#addGif:hover {
  background-color: rgb(187, 218, 223);
}

button:hover {
  cursor: pointer;
}

article {
  width: 70%;
  height: auto;
  display: grid;
  grid-template-rows: 1.5fr 1fr;
  margin: 30px auto 15px auto;
  font-size: 0.9rem;
  position: relative;
  top: 1%;
  display: flex;
  flex-direction: column;
}

article .post {
  background-color: rgb(190, 218, 236);
  padding: 1rem;
  text-align: center;

  border-radius: 5px 5px 0 0;
}

article .reactions {
  border: 5px rgb(238, 236, 236) solid;
  border-top: none;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article .reactions #emoji-box {
  width: 10vw;
  height: 4vh;
  /* border: lightgray solid 1px; */
  /* margin: auto auto auto 1rem; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

article .reactions .collapsible {
  height: 3.8vh;
  width: 2.6vw;
  border: none;
  margin: auto 1rem auto auto;
  background: url("./images/comment-shape.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
}

article .reactions .collapsible:hover {
  height: 4.2vh;
  width: 3vw;
  cursor: pointer;
}

/* article .reactions .collapsible:hover {
  height: 5vh;
} */
#postGifContainer {
  width: 70%;
}
.post-gif {
  overflow: hidden;
  width: 100%;
}
#gifToAdd {
  height: 40px;
  position: relative;
  bottom: 35px;
}
article .comments {
  background-color: rgb(231, 229, 229);
  padding: 1rem;
  display: none;
  overflow: hidden;
  transition: 1s;
}

article .comments h4 {
  margin-bottom: 1rem;
  text-align: center;
}

article .comments .comment-paragraph {
  margin: 1.5rem 0;
}

article .comments .add {
  background-color: rgb(231, 229, 229);
  border: none;
  font-size: 2rem;
  position: absolute;
  right: 0.3rem;
  bottom: 0;
}

.modal {
  width: 40vw;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  /* display: none; */
  /* z-index: 1;
  backdrop-filter: blur(5px); */
}

.modal form {
  border: 16px solid rgb(190, 218, 236);
}

.modal .add-button {
  background-color: rgba(188, 224, 196, 0.952);
}
.emoji {
  background-color: burlywood;
  width: 20px;
  height: 20px;
}

.emoji:hover {
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.pContainer {
  background-color: rgb(231, 143, 143);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 11px;

  position: relative;
  right: -10px;
  top: -5px;
}

/* MEDIA QUERIES */
/* Portrait and landscape*/

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    grid-template-areas:
      "header"
      "main";
    grid-template-rows: 20% 1fr;
    grid-template-columns: 1fr;
  }

  header {
    grid-area: header;
    height: 22vh;
    line-height: 1rem;
  }

  header h1 {
    font-size: 2.5rem;
    padding-top: 1.5rem;
  }

  header h5 {
    font-size: small;
    padding-top: 0;
  }

  main {
    margin-top: 1rem;
    border: none;
    overflow-y: scroll;
  }

  section {
    width: 95%;
    height: 40%;
    margin: auto;
  }

  section form {
    height: 80%;
    border: 10px solid lightgray;
  }

  form textarea {
    font-size: 0.7rem;
    line-height: 0.9rem;
    padding: 0.3rem;
  }

  .add-button {
    height: 15%;
  }

  article {
    font-size: 0.7rem;
    width: 95%;
    height: auto;
    margin-top: 3vh;
  }

  article .reactions {
    padding-bottom: 1rem;
    height: 8vh;
  }

  article .reactions #emoji-box {
    width: 30vw;
    height: 5vh;
    margin: 0.4rem 1rem;
    text-align: center;
  }

  article .reactions .collapsible {
    height: 4vh;
    width: 4vh;
    margin: 0.4rem 1rem;
  }

  .modal {
    width: 90vw;
  }

  .modal form {
    border: 5px solid rgb(190, 218, 236);
  }
}

/* Landscape only */
/* @media only screen and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) */
